html, body {
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    height: 100vh;
}

header {
    height: auto;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #333;

    box-sizing: border-box;
}

menu {
    height: auto;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #ff0000;

    list-style-type: none;
    font-weight: 600;

    overflow: hidden;
}

#titulo-texto {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 850;
    font-size: 56px;
}

#titulo-img {
    margin-top: 10px;

    height: 56px;
}

menu li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

main {
    width: 100%;

    margin: 0;
    padding: 0.3em;

    flex: 3;

    box-sizing: border-box;
}

#main-wrapper {
    display: flex;
}

.descricao {
    padding: 1em;

    display: flex;
    flex-direction: row;

    border-bottom: 2px solid #555;

    box-sizing: border-box;
}

.main-h1 {
    font-size: 3em;
    font-weight: 600;
}

.main-h2 {
    font-size: 2.5em;
    font-weight: 600;
}

.main-h3 {
    font-size: 2em;
}

.imagem-previa {
    border: 3px solid black;
}

.menu-lateral {
    /* height: 100%; */
    width: 100%;

    margin: 0;
    padding: 0;

    border-right: 3px solid #111;
    background-color: #555;

    flex: 1;
}

.menu-lateral ul {
    margin:  0;
    padding: 0;
    color: white;

    list-style-type: none;
    font-weight: 600;

    overflow: hidden;
}

.menu-lateral li {
    padding: 0.9em;

    border-bottom: 1px solid #ed0303;

    background-color: #ff0000;
}

.li-titulo {
    font-size: 1.2em;
    text-align: center;

    background-color: #555!important;
}

.conteudo-article {
    padding: 1em;

    box-sizing: border-box;
}

.snippet {
    padding: 1em;
    padding-left: 1.5em;

    color: #ffffff;
    background-color: #333;

    border-left: 6px solid #ff0000;
}

.snippet-p {
    margin: 0;
    padding: 0;

    font-family: monospace;
    font-size: 18px;
}

.snippet-blue {
    color: #1672d6;
}
