body {
    margin: 10px;
    padding: 0;

    height: 100vh;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;
}

.big-section {
    padding: 5px;

    flex: 1;

    border: 1px solid black;
}